# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfplan
tfplan
crash.log
crash.*.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# Secrets / local artifacts
*.pem
*.key
license.key
kubeconfig
.envrc
.env

# OS
.DS_Store
Thumbs.db
